<html lang="ja">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <title>Traveling Salesman</title>
    <link rel="stylesheet" href="/css/tsp-ga.css" type="text/css">
</head>
<body>
    <button id="start-button">Start</button>
    <button id="stop-button">Stop</button>
    <br>
    <label for="generation">Generation</label>
    <input type="number" id="generation" min="0" disabled>
    <br>
    <label for="show-environment-settings">Environment Settings</label>
    <input type="checkbox" id="show-environment-settings">
    <br>
    
    <div id="environment-settings">
        <label for="concentric-circles">Concentric Circles</label>
        <input type="checkbox" id="concentric-circles">
        <label for="node-num">Node Num</label>
        <input type="number" id="node-num" min="3" max="1000" value="500">
        <label for="radius-ratio">Radius Ratio</label>
        <input type="number" id="radius-ratio" min="0.01" max="0.99" value="0.5" step="0.01" disabled>
    </div>

    <label for="show-ga-parameter-inputs">GA Parameters</label>
    <input type="checkbox" id="show-ga-parameter-inputs">

    <div id="ga-parameter-inputs">
        <label for="pop-size">Population</label>
        <input type="number" id="pop-size" min="10" max="1000" value="100">
        <label for="mutation-rate">Mutation Rate</label>
        <input type="number" id="mutation-rate" min="0" max="1" value="0.25" step="0.01">
        <label for="tournament-size">Tournament Size</label>
        <input type="number" id="tournament-size" min="2" max="10" value="3">
        <label for="elitism">Elitism</label>
        <input type="checkbox" id="elitism">
    </div>

    <canvas id="path" width="600" height="600"></canvas>
    <canvas id="graph"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/scripts/tsp-ga.js"></script>
</body>
</html>
