<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .input_area {
            background-color: #eee;
            overflow-x: auto;
        }
        .output {
            border: solid 1px black;
            overflow-x: auto;
        }
        /* main {
            flex: 1;
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
            padding: 15px;
        } */
    </style>
</head>
<body>
    <header>
        <h1>{{ page.title }}</h1>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>Copyright &copy; {{ 'now' | date: "%Y" }} Keiichiro Sonoda</p>
    </footer>
</body>
</html>